body{
    background-image: url(/Images/cool-geometric-triangular-hallway-3d-rendering.jpg);
    background-image: linear-gradient(rgba(4, 9, 30, 0.493), rgba(4, 9, 30, 0.493)),url(/Images/cool-geometric-triangular-hallway-3d-rendering.jpg);
    color: #c7d5e0;
    margin: 0;
    padding: 0;
}

header{
    background-color: #171a21;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* img per logo style */

nav a{
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: underline;
}

.right{
    display: flex;
    align-items: center;
}
.right a{
    margin-left: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 60px);
    padding: 90px 10px;
    
}

.form-container{
    background-color: #173752e8;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}
.form-container h2{
    margin-bottom: 20px;
    font-size: 24px;
}
.form-container label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container input, section.form-container select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c7d5e0;
    border-radius: 3px;
    background-color: #1b2838;
    color: #c7d5e0;
}
.form-container input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
}

.captcha{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.801);
}
.captcha label{
    display: flex;
    align-items: center;
}
.captcha input[type="checkbox"]{
    margin-top:19px;
}

.terms{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}
.terms a{
    color: #66c0f4;
    text-decoration: none;
}
.terms a:hover{
    text-decoration: underline;
}

.form-container button{
    width: 100%;
    padding: 10px;
    background-color: #137bc5;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.form-container button:hover{
    background-color: #0c5c96;
    transition: 1s;
}

.footer{
    background-color: #141c2e;
    height: calc(20vh - 10px);
    padding-top: 50px;
}