* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color:#1b2a3d ;
}

header {
    height: 10vh;
    background-color: #171a21;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    align-items: center;
}

.right a {
    margin-left: 20px;
}

main {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.headings {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    left: 1vw;
}


.description {
    display: none;
}

.help-h2 {
    font-size: 30px;

}

.popular-questions-p {
    font-size: 20px;
}

.questions {
    width: 48vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: #1b2a3d; */
}


.answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #445468;
    padding-left: 1vw;
}



.header-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-description {
    width: 100%;
}
