@font-face {
    font-family: 'Open Sans';
    src: url('../../Front-end/Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    /* Adjust the path */
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Open Sans', Arial;
    background-color: #1b2a3d;
    color: #c7d5e0;
}

.user-info {
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 1vh;
    right: 1.5vw;
    z-index: 5;
}

.user-info>form {
    width: 100%;
    text-align: center;
    height: 35%;
}

.user-info>form>button {
    width: 83%;
    height: 100%;
}


h1 {
    position: relative;
    left: 0.4vw;
    top: 1vh;
    text-align: center;
}

.img-link {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    top: 3vh;
    left: 1vw;
}

.img-link>img {
    width: 100%;
    height: 100%;
}

.products {
    width: 93vw;
    height: 150.3vh;
    border: 3px solid #c7d5e0;
    position: relative;
    top: 4vh;
    margin: auto;
}

.about {
    width: 90%;
    height: 6%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-divs {
    width: 7%;
    height: 56%;
    border-bottom: 1px solid #c7d5e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: 100%;
    height: 6.94%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
}

.the-product {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-div {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 1vw;
}

#insertForm {
    display: none;
    width: 20vw;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c7d5e0;
    padding: 20px;
}

.forma {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forma>input {
    height: 6%;
}

.forma>button {
    margin-top: 1vh;
    height: 12%;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
}

h3 {
    width: 50%;
    height: 5%;
    text-align: center;
}

#editForm {
    display: none;
    width: 20vw;
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c7d5e0;
    padding: 20px;
}

.forma2 {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forma2>input {
    height: 6%;
}

.forma2>button {
    margin-top: 1vh;
    height: 12%;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
}

.insert {
    height: 5vh;
    border: 1px solid black;
    cursor: pointer;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    right: 2vw;
    top: 1vh;
    color: black;
}

.editBtn {
    width: 40%;
    height: 50%;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.formDelete {
    display: inline;
    width: 40%;
    height: 50%;
}

.delBtn {
    height: 100%;
    width: 100%;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.desc {
    width: 7%;
    height: 100%;
    overflow-y: auto;
    word-break: break-word;
    white-space: normal;
    text-align: center;
    display: block;
}

@media (min-width: 1024px) {
    .buttons {
        width: 14%;
    }

    .insert {
        right: 3.5vw;
        top: 2.3vh;
    }

    .about {
        width: 86.8%;
    }

    .desc {
        width: 10%;
    }

    #insertForm {
        width: 30vw;
    }

    #editForm {
        width: 30vw;
    }

    .products {
        height: 147.3vh;
    }

    .product {
        height: 7%;
    }

    .delBtn {
        position: relative;
        top: 0.1vh;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {

    .user-info {
        width: 19vw;
        height: 11vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 1vh;
        right: 3.5vw;
        z-index: 5;
    }

    .about {
        width: 82%;
        height: 6%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 12px;
    }

    .product {
        width: 100%;
        height: 6.94%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid white;
        font-size: 11px;
    }

    .buttons {
        width: 20%;
    }

    .desc {
        width: 9%;
    }

    .insert {
        right: 6vw;
        top: 2.5vh;
    }

    #insertForm {
        width: 46vw;
    }

    #editForm {
        width: 46vw;
    }

    .products {
        width: 96vw;
        height: 147.3vh;
    }

    .product {
        height: 7%;
    }
}

@media (max-width: 600px) {
    .user-info {
        width: 54vw;
        height: 9vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 1vh;
        right: 0.5vw;
        z-index: 5;
    }


    .products {
        width: 95vw;
        height: auto;

        border: none;
        top: 20vh;
    }

    .about-divs {
        display: none;

    }

    .product {
        width: 94%;
        height: auto;

        flex-direction: column;

        padding: 10px;
        border: 1px solid white;
        margin-bottom: 10px;
    }

    .the-product {
        width: 100%;
        flex-direction: column;

        text-align: center;
    }

    .product-div {
        width: 100%;
        padding: 5px 0;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .editBtn {
        width: 48%;
        /* Make buttons take up equal space */
        height: 40px;
        font-size: 14px;
    }

    #insertForm {
        width: 84vw;
        height: 54vh;
        position: relative;
        top: 8vh;
        left: 2vw;
    }

    #editForm {
        width: 84vw;
        height: 54vh;
        position: relative;
        top: 9vh;
        left: 2vw;

    }

    .forma,
    .forma2 {
        width: 100%;
    }



    .insert {
        width: 100%;
        height: 50px;
        font-size: 16px;
        text-align: center;
    }

    .formDelete {
        width: 46%;
        height: 4vh;
    }

    .insert {
        width: 100%;
        height: 6vh;
        font-size: 16px;
        text-align: center;
        position: absolute;
        top: -9vh;
        left: 0vw;
    }

    h1 {
        top: 8vh;
    }
}