* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'); /* Adjust the path */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans',Arial;
    min-height: 100vh;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(rgba(4, 9, 30, 0.493), rgba(4, 9, 30, 0.493)),
        url(../images/bg-image.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Places the background behind the content */
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #171a21;
    padding: 20px 20px;
    display: flex;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;

}

.left-elements>.right>a {
    text-decoration: none;
}

.logo {
    width: 10%;
    height: 100%;
}

#logo1 {
    width: 100%;
    height: 100%;
}

nav a {
    color: #c7d5e0;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

nav a::selection {
    background-color: #445468;
    color: white;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}


.forma {
    height: 80vh;
    width: 50;
    height: 80vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: #181a21;
    position: relative;
    top: 5vh;
}

.sign-in-p {
    color: white;
    font-size: 32px;
}

.inputs {
    width: 80%;
    height: 9%;
    padding-left: 5%;
    background-color: #32353c;
    outline: none;
    border: none;
    color: #b1b1b1;
    border-radius: 3px;
    font-size: 16px;
}

.singleLine {
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 11vh;
}

.remember-div {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.remember-div>input {
    width: 20%;
    height: 100%;
    border: none;
    background-color: #32353c;
}

.remember-label {
    margin-left: 1%;
    font-size: 15px;
    color: #b1b1b1;
}

button {
    width: 80%;
    height: 8%;
    background-color: #14a4ff;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    position: relative;
    bottom: 9vh;
    cursor: pointer;

}

.noAccount>p {
    color: #b1b1b1;
}

.noAccount>p>a {
    text-decoration: none;
    color: #14a4ff;

}

.help {
    font-size: 15px;
    color: #b1b1b1;
    position: relative;
    bottom: 5vh;
}


@media (min-width: 1024px) {

    .logo {
        width: 18%;
        height: 11vh;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 51%;
        height: 100%;
    }

    .inputs {
        width: 80%;
        height: 8%;
        padding-left: 5%;
        background-color: #32353c;
        outline: none;
        border: none;
        color: #b1b1b1;
        border-radius: 3px;
        font-size: 16px;
    }

    .forma {
        height: 80vh;
        width: 42vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        border-radius: 5px;
        background-color: #181a21;
        position: relative;
        top: 5vh;
    }
}


@media (min-width: 600px) and (max-width: 1024px) {

    .logo {
        height: 11vh;
        width: 18vw;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 72%;
        height: 100%;
    }

    .forma {
        height: 80vh;
        width: 73vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        border-radius: 5px;
        background-color: #181a21;
        position: relative;
        top: 5vh;
    }
}

@media (max-width: 600px) {

    .loginSignupPop{
        width: 52vw;
    }

    .logo {
        position: absolute;
        width: 34vw;
        height: 10vh;
        top: 7vh;
        left: 33vw;
    }


    header {
        width: 100vw;
        height: 7vh;
        background-color: #171a21;
        padding: 20px 20px;
        display: flex;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 100%;
        font-size: 10px;
        position: relative;
        left: 4vw;
    }

    .right>a{
        text-align: center;
    }

    .forma {
        height: 68vh;
        width: 93vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        border-radius: 5px;
        background-color: #181a21;
        position: relative;
        top: 8vh;
    }
}