*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 70vh;
    width: 100%;
    background: rgba(4, 9, 30, 0.7);
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url();
    background-position: center;
    background-size: cover;
    position: relative;
}
  
nav{
    background-color: #171a21;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: blue;
    text-decoration: none;
    font-size: 13px;
    margin: 0 10px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(0, 0, 255, 0.671);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgba(0, 0, 0, 0.568);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 2s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
    
}